# Problem Statement

1. Calculate $ c_{0}, c_{1}, c_{2}, c_{3}, r_{1}, r_{2}, r_{3} $ for the series given in Exercise 2.1.
2. Make a graph of $ r_{k} $, k = 0, 1, 2, 3

3. My interpretation : 
    - Of the TS in 2.1, find the estimates of both 
        1. c_k - autocovariance (ACov) $(\hat{\gamma}_{k})$ 
        2. r_k - autocorrelation (ACor) $(\hat{\rho}_{k})$
        3. where k = 0, 1, 2, 3
    - Graph the autocorrelations at k
        - x-axis : k
        - y-axis : value

# Questions + Futher Explore

# TODO

- [ ] Import Packages/Libraries + Load Data

- [ ] (2.1.12) **Estimate the ACov @ lag k :** $ \hat{\gamma}_{k} $ (gamma hat) = 1/N * $ \sum_{t=1}^{N - k} (z_{t} - \bar{z})(z_{t+k} - \bar{z}) $ k = 0, 1, 2,..., K

- [ ] (2.1.12) Set : $ c_k $ = $ \hat{\gamma}_{k} $

- [ ] (2.1.11) **Estimate the ACor @ lag k :** $ \hat{\rho}{_k} $ (rho hat) = $ c_k $ / $ c_0 $

- [ ] (2.1.11) Set : $ r_k $ to  $ \hat{\rho}{_k} $

- [ ] Graph $ r_k $

## Import + Load Data

In [1]:
import pandas as pd

In [106]:
# data = pd.read_csv("lewDataset.csv")
data = pd.DataFrame([1, 2, 3])

data

   0
0  1
1  2
2  3

## Estimate the ACov @ lag k


\begin{align}
\hat{\gamma}_{k} = \frac{1}{N} \times \sum_{t=1}^{N - k} (z_{t} - \bar{z})(z_{t+k} - \bar{z}),
\space where 
\end{align}

\begin{align}
k = 0, 1, 2,..., K
\end{align}

\begin{align}
\bar{z} = \sum_{t=1}^{N} \frac{z_t}{N}
\end{align}

In [107]:
sample_mean = data.mean()
# sample_mean = (data / len(data)).sum()
sample_mean

0    2.0
dtype: float64

In [108]:
N = len(data)
N

3

In [109]:
z_t = data
z_t

   0
0  1
1  2
2  3

In [125]:
z_t_1 = data.shift(-1)
z_t_1

     0
0  2.0
1  3.0
2  NaN

In [126]:
z_t_2 = data.shift(-2)
z_t_2

     0
0  3.0
1  NaN
2  NaN

In [129]:
df = pd.concat([z_t, z_t_1, z_t_2], axis = 1)
df

   0    0    0
0  1  2.0  3.0
1  2  3.0  NaN
2  3  NaN  NaN

In [131]:
df.columns=["z", "z1", "z2"]
df

   z   z1   z2
0  1  2.0  3.0
1  2  3.0  NaN
2  3  NaN  NaN

In [155]:
a = (df["z"] - 2) * (df["z"] - 2)
a

0    1
1    0
2    1
Name: z, dtype: int64

In [166]:
a1 = a.sum()
a1

2

In [158]:
b = (df["z"] - 2) * (df["z1"] - 2)
b

0   -0.0
1    0.0
2    NaN
dtype: float64

In [164]:
b1 = b.sum()
b1

0.0

In [160]:
c = (df["z"] - 2) * (df["z2"] - 2)
c

0   -1.0
1    NaN
2    NaN
dtype: float64

In [162]:
c1 = c.sum()
c1

-1.0

In [172]:
abc = pd.DataFrame([a1, b1, c1])
abc

     0
0  2.0
1  0.0
2 -1.0

In [173]:
abc / N

          0
0  0.666667
1  0.000000
2 -0.333333

In [128]:
def acov(N, z_bar, df):
    """Given the data, calculate the autocovariance
    
    Parameters:
    df -- pd DataFrame
    
    Return:
    autocovariance -- int
    """
    
    
    # zt_zbar_df = z_t_df.subtract(z_bar) 
    # print(zt_zbar_df)
    
    # ztk_zbar_df = z_t_k_df.subtract(z_bar)
    # print(ztk_zbar_df)
    
    # zz = zt_zbar_df.mul(ztk_zbar_df)
    # gamma_k = zz.cumsum()
    
    # z_df = pd.concat([zt_zbar_df, ztk_zbar_df, zz, gamma_k], axis = 1)
    # z_df.columns=["zt_zbar", "ztk_zbar", "zz", "gamma_k"]
    

    # print(z_df)
    
    # z_df["gamma_k"] = 0
    # z_df["gamma_k"] = (z_df.loc[:, "zt_zbar"] * z_df.loc[:, "ztk_zbar"])
    # z_df["gamma_k"] =  z_df["zz"].cumsum()
    # z_df["c"] = (z_df.loc[:, "zt_zbar"] * z_df.loc[:, "ztk_zbar"]).cumsum()

    # z_df["d"] = z_df["c"].div(N) 
    
    
    # df = z_df.iloc[::-1].reset_index(drop=True).head()
    
    
    return df, df/N

In [123]:
gamma_hat_k,  gamma_hat_kn= acov(N, sample_mean, df)
gamma_hat_k

   zt_zbar  ztk_zbar   zz  gamma_k
0      1.0       1.0  1.0      2.0
1      0.0       0.0  0.0      1.0
2     -1.0      -1.0  1.0      1.0

In [124]:
gamma_hat_kn

    zt_zbar  ztk_zbar        zz   gamma_k
0  0.333333  0.333333  0.333333  0.666667
1  0.000000  0.000000  0.000000  0.333333
2 -0.333333 -0.333333  0.333333  0.333333

## TODO 2

In [344]:
def acor(c_k, c_0):
    """Given the data, calculate the autocorrelation
    
    Parameters:
    df -- pd DataFrame
    
    Return:
    autocorrelation -- int
    """
    
    rho_hat_k = c_k / c_0
    
    return rho_hat_k

In [345]:
acor(gamma_hat_k, c_0)

NameError: name 'c_0' is not defined