# Problem Statement

- See 2.4-main.ipynb
- Using pandas

---

# Questions + Futher Explore
1. [LEW dataset](https://www.itl.nist.gov/div898/handbook/eda/section3/eda35c.htm)

# TODOs

1. [x] Imports + Load Data

2. [ ] (2.1.12) **Estimate the ACov @ lag k :** $c_k = \hat{\gamma}_{k} $ (gamma hat) = $ {\dfrac{1}{N}} $ * $ \sum_{t=1}^{N - k} (z_{t} - \bar{z})(z_{t+k} - \bar{z}) \space$ k = 0, 1, 2,..., K

3. [ ] (2.1.11) **Estimate the ACor @ lag k :** $ r_k = \hat{\rho}{_k} $ (rho hat) = $ {\dfrac{c_k}{c_0}} $

- [ ] Graph $ r_k $

## 1. Imports + Load Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# test_data = pd.DataFrame([100, 200, 300])
# test_data

In [3]:
lew_data = pd.read_csv("lewDataset.csv")
# lew_data

- Use the `shift` attribute on the df to show the lag (also sliding window)

In [4]:
# another way to show the lag
# z_t = lew_data
# df = pd.concat([lew_data.shift(2), lew_data.shift(1), z_t], axis = 1)
# df.columns=["zt-2", "zt-1", "zt"]
# df

In [5]:
def create_df(df, k):
    """
    """
    
    new_df = []
    # for i in range(1, k):
    #     print(i * -1)
        # df = pd.concat([lew_data, lew_data.shift(-1), lew_data.shift(-2), lew_data.shift(-3)], axis = 1)
        # df.columns=["zt", "zt+1", "zt+2", "zt+3"]
        # print(df)
        
    for i in range(1, k):
        # print(i)
        # print()
        lag = (-1 * i)
        # print(lag)
        new_df.append(df.shift(lag))
        # new_df = np.append([df], [df.shift(lag)], axis=0)
        # print(new_df)
        # df["zt"] = df.shift(lag)
        # df = pd.concat([df, new_df], axis = 1)
        # print(df)
        # df[i] = 0
        lag -= 1
        # print(lag)
        
        # print()
    # print(df)
    # print(new_df)
        
    # updated_df = pd.DataFrame([new_df])
    # print(updated_df)
    return new_df

In [11]:
test_data = pd.DataFrame([100, 200, 300, 400, 500])
test_data
# k = len(test_data)
k = len(lew_data)
# k = 8
# created_df = create_df(test_data, k)
created_df = create_df(lew_data, k)

# np.shape(created_df), created_df

In [10]:
# test = pd.concat(created_df, axis=1)
# test
# df = pd.concat([test_data, test], axis=1)
# df

test = pd.concat(created_df, axis=1)
test
df = pd.concat([lew_data, test], axis=1)
df

,measurements,measurements,measurements,measurements,measurements,measurements,measurements,measurements,measurements,measurements,...,measurements,measurements,measurements,measurements,measurements,measurements,measurements,measurements,measurements,measurements
0,-213,-564.0,-35.0,-15.0,141.0,115.0,-420.0,-360.0,203.0,-338.0,...,72.0,-550.0,-190.0,172.0,-424.0,-385.0,198.0,-218.0,-536.0,96.0
1,-564,-35.0,-15.0,141.0,115.0,-420.0,-360.0,203.0,-338.0,-431.0,...,-550.0,-190.0,172.0,-424.0,-385.0,198.0,-218.0,-536.0,96.0,NaN
2,-35,-15.0,141.0,115.0,-420.0,-360.0,203.0,-338.0,-431.0,194.0,...,-190.0,172.0,-424.0,-385.0,198.0,-218.0,-536.0,96.0,NaN,NaN
3,-15,141.0,115.0,-420.0,-360.0,203.0,-338.0,-431.0,194.0,-220.0,...,172.0,-424.0,-385.0,198.0,-218.0,-536.0,96.0,NaN,NaN,NaN
4,141,115.0,-420.0,-360.0,203.0,-338.0,-431.0,194.0,-220.0,-513.0,...,-424.0,-385.0,198.0,-218.0,-536.0,96.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-385,198.0,-218.0,-536.0,96.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,198,-218.0,-536.0,96.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,-218,-536.0,96.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,-536,96.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Estimate the ACov @ lag k


\begin{align}
\hat{\gamma}_{k} = \frac{1}{N} \times \sum_{t=1}^{N - k} (z_{t} - \bar{z})(z_{t+k} - \bar{z}),
\space where 
\end{align}

\begin{align}
k = 0, 1, 2,..., K
\end{align}

\begin{align}
\bar{z} = \sum_{t=1}^{N} \frac{z_t}{N}
\end{align}

In [17]:
N = len(df)
print(N)
sample_mean = df.iloc[0:, 0].mean()
print(sample_mean)
# print(df)

200
-177.435

In [18]:
new_df = df - sample_mean
new_df

,measurements,measurements,measurements,measurements,measurements,measurements,measurements,measurements,measurements,measurements,...,measurements,measurements,measurements,measurements,measurements,measurements,measurements,measurements,measurements,measurements
0,-35.565,-386.565,142.435,162.435,318.435,292.435,-242.565,-182.565,380.435,-160.565,...,249.435,-372.565,-12.565,349.435,-246.565,-207.565,375.435,-40.565,-358.565,273.435
1,-386.565,142.435,162.435,318.435,292.435,-242.565,-182.565,380.435,-160.565,-253.565,...,-372.565,-12.565,349.435,-246.565,-207.565,375.435,-40.565,-358.565,273.435,NaN
2,142.435,162.435,318.435,292.435,-242.565,-182.565,380.435,-160.565,-253.565,371.435,...,-12.565,349.435,-246.565,-207.565,375.435,-40.565,-358.565,273.435,NaN,NaN
3,162.435,318.435,292.435,-242.565,-182.565,380.435,-160.565,-253.565,371.435,-42.565,...,349.435,-246.565,-207.565,375.435,-40.565,-358.565,273.435,NaN,NaN,NaN
4,318.435,292.435,-242.565,-182.565,380.435,-160.565,-253.565,371.435,-42.565,-335.565,...,-246.565,-207.565,375.435,-40.565,-358.565,273.435,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-207.565,375.435,-40.565,-358.565,273.435,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,375.435,-40.565,-358.565,273.435,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,-40.565,-358.565,273.435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,-358.565,273.435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,273.435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
# zt_vs_zt = (new_df["zt"] * new_df["zt"]).sum() / N
# zt_vs_zt1 = (new_df["zt"] * new_df["zt+1"]).sum() / N
# zt_vs_zt2 = (new_df["zt"] * new_df["zt+2"]).sum() / N
# zt_vs_zt3 = (new_df["zt"] * new_df["zt+3"]).sum() / N

# c_ks = pd.DataFrame([zt_vs_zt, zt_vs_zt1, zt_vs_zt2, zt_vs_zt3], columns=["cks"])
# c_ks


zt = new_df.iloc[0:, 0]
# print(type(zt))
ztk = new_df.iloc[0:, 0:200]
# print(type(ztk))
c_ks = ztk.mul(zt, axis=0).sum() / N
print(c_ks)

measurements    76528.565775
measurements   -23517.595646
measurements   -56657.944042
measurements    59285.855337
measurements    15700.251416
                    ...
measurements     -573.490444
measurements      -21.640641
measurements      894.990438
measurements     -464.740183
measurements      -48.623579
Length: 200, dtype: float64

In [65]:
c_not = c_ks.iloc[0:, ][0]
c_not

76528.56577499998

In [67]:
rho_hat_k = (c_ks / c_not).round(2)
print(rho_hat_k)
# rho_hat_k.columns=["r_ks"]
# rho_hat_k

measurements    1.00
measurements   -0.31
measurements   -0.74
measurements    0.77
measurements    0.21
                ...
measurements   -0.01
measurements   -0.00
measurements    0.01
measurements   -0.01
measurements   -0.00
Length: 200, dtype: float64

In [69]:
rho_hat_k.head(50)

measurements    1.00
measurements   -0.31
measurements   -0.74
measurements    0.77
measurements    0.21
measurements   -0.90
measurements    0.38
measurements    0.63
measurements   -0.77
measurements   -0.12
measurements    0.82
measurements   -0.40
measurements   -0.55
measurements    0.73
measurements    0.07
measurements   -0.76
measurements    0.40
measurements    0.48
measurements   -0.70
measurements   -0.03
measurements    0.70
measurements   -0.41
measurements   -0.43
measurements    0.67
measurements   -0.00
measurements   -0.66
measurements    0.42
measurements    0.39
measurements   -0.65
measurements    0.03
measurements    0.63
measurements   -0.42
measurements   -0.36
measurements    0.64
measurements   -0.05
measurements   -0.60
measurements    0.43
measurements    0.32
measurements   -0.64
measurements    0.08
measurements    0.58
measurements   -0.45
measurements   -0.28
measurements    0.62
measurements   -0.10
measurements   -0.55
measurements    0.45
measurements    0.25
measurements   -0.61
measurements    0.14
dtype: float64

In [ ]:
def acov(N, z_bar, df):
    """Given the data, calculate the autocovariance
    
    Parameters:
    df -- pd DataFrame
    
    Return:
    autocovariance -- int
    """
    
    
    # zt_zbar_df = z_t_df.subtract(z_bar) 
    # print(zt_zbar_df)
    
    # ztk_zbar_df = z_t_k_df.subtract(z_bar)
    # print(ztk_zbar_df)
    
    # zz = zt_zbar_df.mul(ztk_zbar_df)
    # gamma_k = zz.cumsum()
    
    # z_df = pd.concat([zt_zbar_df, ztk_zbar_df, zz, gamma_k], axis = 1)
    # z_df.columns=["zt_zbar", "ztk_zbar", "zz", "gamma_k"]
    

    # print(z_df)
    
    # z_df["gamma_k"] = 0
    # z_df["gamma_k"] = (z_df.loc[:, "zt_zbar"] * z_df.loc[:, "ztk_zbar"])
    # z_df["gamma_k"] =  z_df["zz"].cumsum()
    # z_df["c"] = (z_df.loc[:, "zt_zbar"] * z_df.loc[:, "ztk_zbar"]).cumsum()

    # z_df["d"] = z_df["c"].div(N) 
    
    
    # df = z_df.iloc[::-1].reset_index(drop=True).head()
    
    
    return df, df/N

In [ ]:
gamma_hat_k,  gamma_hat_kn= acov(N, sample_mean, df)
gamma_hat_k

In [ ]:
gamma_hat_kn

## TODO 2

In [ ]:
def acor(c_k, c_0):
    """Given the data, calculate the autocorrelation
    
    Parameters:
    df -- pd DataFrame
    
    Return:
    autocorrelation -- int
    """
    
    rho_hat_k = c_k / c_0
    
    return rho_hat_k

In [ ]:
acor(gamma_hat_k, c_0)